PORT=5000
# يمكنك استخدام اتصال محلي أو رابط MongoDB Atlas السحابي
MONGODB_URI=mongodb://127.0.0.1:27017/mohamed_hamdy_portfolio
JWT_SECRET=super_secret_astronomical_key_mohamed_hamdy_2026_cma
CLIENT_URL=http://localhost:5173
NODE_ENV=development
